body {
    font-family: 'Metamorphous', cursive;
    background-color: black;
    color: white;
}

h1 {
    font-family: 'Black Ops One', cursive;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to bottom, rgb(154, 70, 209), black);
    color: white;
}

.navbar {
    background-color: rgb(219, 75, 22);

    font-size: large;
}

.navbar-nav{
    margin: auto;
    color: black;
}

.nav-item {
    color: black;
}

.nav-link {
    color: black;
}

.title {
    text-align: center;
}

.site-footer {
    padding: 20px 0;
    color: black;
}

.footer-top {
    background-color: grey;
    color: black;
}

.list-unstyled {
    color: black;
}

.footer-bottom {
    background-color: black;
    color: white;
    text-align: center;
}


.lor {
    margin-top: 100px;
}