body {
    font-family: 'Metamorphous', cursive;
    font-family: 'IM Fell DW Pica SC', serif;
    font-family: 'Fahkwang', sans-serif;
    background-color: rgb(243, 243, 214);
}

h1 {
    /*font-family: 'Black Ops One', cursive;*/
    font-family: 'Metamorphous', cursive;
    font-family: 'Cabin Sketch', cursive;
    margin-top: 100px;
    
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-color: rgb(229, 240, 130);
}

.navbar {
   background-image: linear-gradient(to bottom, grey, black, black);
}

.navbar-nav{
    margin: auto;
    font-size: large;
}

.navbar-nav .nav-item .nav-link {
    font-size: larger;
    color: white;
    margin: 0 50px 0 50px;
}

.nav-link:hover {
    border-bottom: 1px solid rgb(255, 243, 69);
    transition: border-bottom 0.3s;
	padding: 8px 0;
}

.site-footer {
    padding: 20px 0;
    background-color: black;
    color: white;
    
}

.footer-contact {
    text-align: right;
}

.footer-bottom {
    color: white;
    text-align: center;
}

.rowhead {
    height: 50%;
    width: auto;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    overflow: hidden;
}

.carousel-inner {
    width: 950px;
    height: 500px;
    background-color: black;
}


.carousel-item {
    width: 75%;
    height: auto;
}

.list-unstyled li a {
    color: white;
}

.praythai img{
    max-width: 100%;
    height: auto;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.table-container {
    margin-top: 100px;
}

.rich-punch img{
    max-width: 60%;
    height: fit-content;
}

#champ {
    max-width: 90%;
    margin-top: 50px;
    filter: grayscale(100%);
}

.clearfix {zoom:1}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

.section-fight-pics {
	padding: 0;
}

.fights-showcase {
	list-style: none;
	width: 100%;
}

.fights-showcase li {
	display: block;
	float: left;
	width: 25%;
}

.fight-photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.fight-photo img {
	opacity: 0.7;
	
    max-height: 600px;
    width: 100%;
	-webkit-transform: scale(1.15);
	        transform: scale(1.15);
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.fight-photo img:hover {
	opacity: 1;
	-webkit-transform: scale(1.03);
	        transform: scale(1.03);
}